<link type="text/css" rel="stylesheet" href="/app/assets/stylesheets/home.css"/>
<style>@import url(//fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);</style>
			
				<body>
					<nav class="container" id="nav">
						<ul>
							<li>후보자 소개</li>
							<li><a class="navlink" href="#">
								총학생회</a></li>
							<li><a class="navlink" href="#">총여학생회</a></li>
							<li><a class="navlink" href="#">
								동아리연합회</a></li>
						</ui>
					</nav>
					<header class="container" id="header">
						<div id="img"><%=image_tag @jpg%></div>
						<div id="hdiv1"><h2>선택 2018! </h2></div>
						<div id="hdiv2">   <p>강남대학교 2018년도</p>
						<p>총학생회 선거</p>
						</div>
					</header>
					<section class="container" id="section">
						<article><img class="article" src="/app/assets/images/abcd.jpg"/>
							<p><input type="checkbox" id="btnControl" />
						<label class="btn" for="btnControl">후보 1</label></p>
							</article>
						<article><img class="article" src="/app/assets/images/abcd.jpg"/><a href="#"><p>후보 2</p></a></article>
						<article><img class="article" src="/app/assets/images/abcd.jpg"/><a href="#"><p>후보 3</p></a></article>
					</section>
					<footer class="container" id="footer">
						<p id="footer">Coptright &copy; Likelion, 2017</p>
						
					</footer>
					
					
					
					
					
					
					
					
				</body>	