<div class="container"><h1>등록하기</h1>
<form action="/home/create" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">후보자</label>
    <input name="input_title" type="text" class="form-control"  placeholder="이름">
  </div>
 
  <div class="form-group">
    <label for="exampleInputPassword1">후보자 소개</label>
    <input name="input_content" type="text" class="form-control"  placeholder="후보자 소개">
  </div>
  
  <button type="submit" class="btn btn-default">제출</button>
</form>
</div>

    <!--데이터베이스에 조작을 가할 수 있는 폼은 무조건 메소드를 포스트로-->
